<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:title" content="24hRollerSolo" />
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.24hrollersolo.org" />
  <meta property="og:image" content="http://www.24hrollersolo.org/assets/images/avatar.png" />
  <meta property="og:site_name" content="24hRollerSolo" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="24hRollerSolo" />
  <meta property="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <meta property="twitter:site" content="@24hRollerSolo" />
  <meta property="twitter:image" content="http://www.24hrollersolo.org/assets/images/avatar.png" />

  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/styles/font-awesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

  {% if page.url == "/" %}
  <link rel="stylesheet" href="{{ "/assets/styles/home.css" | relative_url }}">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="shortcut icon" href="{{ "/assets/images/wheel-32-37474f.png" | relative_url }}">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89985776-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
