<nav role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo"><img src="{{ "/assets/images/wheel-24-white.png" | relative_url }}" /> 24h Roller Solo</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Accueil</a></li>
      <li><a href="/about">A propos</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/training">Entraînement</a></li>
      <li><a href="/weight">Poids</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Accueil</a></li>
      <li><a href="/about">A propos</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/training">Entraînement</a></li>
      <li><a href="/weight">Poids</a></li>
    </ul>
  </div>
</nav>
