<nav role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo"><img src="{{ "/assets/images/wheel-24-white.png" | relative_url }}" /> 24h Roller Solo</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Accueil</a></li>
      <li><a href="/about">A propos</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/training">Entraînement</a></li>
      <li><a href="/weight">Poids</a></li>
      <li><a href="https://www.facebook.com/24hRollerSolo/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/24hRollerSolo" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/"><i class="fa fa-home menu-icon"></i> Accueil</a></li>
      <li><a href="/about"><i class="fa fa-info-circle menu-icon"></i> A propos</a></li>
      <li><a href="/blog"><i class="fa fa-pencil-square-o menu-icon"></i> Blog</a></li>
      <li><a href="/training"><i class="fa fa-bar-chart menu-icon"></i> Entraînement</a></li>
      <li><a href="/weight"><i class="fa fa-leaf menu-icon"></i> Poids</a></li>
      <li><a href="https://www.facebook.com/24hRollerSolo/" target="_blank"><i class="fa fa-facebook menu-icon"></i> Facebook</a></li>
      <li><a href="https://twitter.com/24hRollerSolo" target="_blank"><i class="fa fa-twitter menu-icon"></i> Twitter</a></li>
    </ul>
  </div>
</nav>
