<nav role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo"><img src="{{ "/assets/images/wheel-24-white.png" | relative_url }}" /> 24h Roller Solo</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Accueil</a></li>
      {% for page in site.pages %}
        {% unless page.exclude %}
          {% if page.title %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Accueil</a></li>
      {% for page in site.pages %}
        {% unless page.exclude %}
          {% if page.title %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
          {% endif %}
        {% endunless %}
      {% endfor %}

    </ul>
  </div>
</nav>
